.customMarkedDateDark {
    color: seagreen !important;
}

.customMarkedDateLight {
    color: #45b645 !important;
}

.mud-input {
    color: inherit !important;
    background-color: inherit !important;;
}